/DFS/hadoop
/dataset/CORE/core_2018_fulltext_extracted
/dataset/CORE/core_2018_metadata_extracted
/dataset/CORE/zip
/dataset/s2orc/paper_data
/dataset/s2orc/paper_data_ectracted/
/dataset/s2orc/s2orc_data/
/dataset/s2orc/s2orc_data_ectracted/
/spark
*.log
